---
---

@import 'helpers';

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ff91a4;
  background: linear-gradient(#ff91a4, #ffa997);
  color: #fff;
}

#main-content {
  border-bottom: 1px solid #fff;

  i#main-image {
    margin-top: 50px;

    &.default {
      @include icon("/images/hero-default", "png", 455px, 632px);
    }

    &.clock {
      @include icon("/images/hero-clock", "png", 455px, 632px);
    }

    &.history {
      @include icon("/images/hero-history", "png", 455px, 632px);
    }

    &.bottle {
      @include icon("/images/hero-bottle", "png", 455px, 632px);
    }

    &.recommended {
      @include icon("/images/hero-recommended", "png", 455px, 632px);
    }
  }

  i#load {
    @include icon("/images/load", "png", 534px, 76px);
  }

  h1 {
    font-size: 60px;
    margin: 150px 0 30px 0;
  }

  p {
    font-size: 18px;
    margin: 0 0 100px 0;
  }
}

#features {
  div {
    padding: 10px 0 0 0;
    background: url("/images/feature-border.png") right center no-repeat;

    &:last-child {
      background: transparent;
    }
  }

  i.feature-clock {
    @include icon("/images/feature-clock", "png", 200px,120px);
  }

  i.feature-history {
    @include icon("/images/feature-history", "png", 200px,120px);
  }

  i.feature-bottle {
    @include icon("/images/feature-bottle", "png", 200px,120px);
  }

  i.feature-recommended {
    @include icon("/images/feature-recommended", "png", 200px,120px);
  }
}
