---
---

@import 'helpers';

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ff91a4;
  background: linear-gradient(#ff91a4, #ffa997);
  font-family: 'Karla', sans-serif;
  color: #fff;
}

#main-content {
  border-bottom: 1px solid #fff;

  i#main-image {
    margin-top: 50px;
    transition: background-image 0.5s ease-in-out;

    &.default {
      @include icon("/images/hero-default", "png", 472px, 632px);
    }

    &.clock {
      @include icon("/images/hero-clock", "png", 472px, 632px);
    }

    &.history {
      @include icon("/images/hero-history", "png", 472px, 632px);
    }

    &.bottle {
      @include icon("/images/hero-bottle", "png", 472px, 632px);
    }

    &.recommended {
      @include icon("/images/hero-recommended", "png", 472px, 632px);
    }
  }

  .store-link {
    display: block;
    text-align: center;
    background:
      url("/images/store-link-background-left.png") top left no-repeat,
      url("/images/store-link-background-right.png") top right no-repeat;

    i#load {
      margin-top: 20px;
      @include icon("/images/load", "png", 203px, 60px);
    }
  }

  h1 {
    font-size: 60px;
    margin: 150px 0 30px 0;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    margin: 0 0 100px 0;
  }
}

#features {
  padding: 10px 0 0 0;

  div {
    background: url("/images/feature-border.png") right center no-repeat;

    &:last-child {
      background: transparent;
    }

    a {
      text-align: center;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      font-size: 18px;

      i {
        display: block !important;
        clear: both;
        margin: 10px auto;
      }

      i.feature-clock {
        @include icon("/images/icon-clock", "png", 44px, 44px);
      }

      i.feature-history {
        @include icon("/images/icon-history", "png", 44px, 44px);
      }

      i.feature-bottle {
        @include icon("/images/icon-bottle", "png", 24px, 44px);
      }

      i.feature-recommended {
        @include icon("/images/icon-recommended", "png", 44px, 44px);
      }
    }
  }
}

#footer {
  p.navbar-text {
    float: none;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
